* {
  margin: 0px;
  padding: 0px; }

.BodyBackgroundColor {
  background-color: #e6e5e5; }

.LogoImg {
  height: 90px; }

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem; }

body {
  width: 100vw; }

.row {
  margin-right: 0px;
  margin-left: 0px;
  --bs-gutter-x: opx; }

.navbar-brand {
  font-family: 'Courgette', cursive;
  color: black; }

.navbar {
  padding: 0px; }

.BgcH {
  background-color: #00d3b9; }

#carouselExampleIndicators {
  display: none; }

#ImgSecIndex {
  padding-left: 10px; }

.Main__ImgSec {
  width: 90%;
  transform: perspective(750px) translate3d(0px, 0px, -250px) scale(0.9, 0.9);
  border-radius: 20px;
  border: 5px solid #090808;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out transform; }

.Main__ImgSec:hover {
  transform: translate3d(0px, 0px, -250px); }

.BackImgAni {
  background-image: url(../imagenes/trigo.com.png);
  animation-name: AnimacionTrigo;
  animation-duration: 100s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: 1; }

@keyframes AnimacionTrigo {
  0% {
    background-position: 0% 100%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 100% 100%; } }

.textos, h1, h2, legend {
  font-family: 'Courgette', cursive;
  color: black;
  text-align: center; }

h1 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 800;
  padding: 1em; }

h2 {
  font-size: calc(1.2rem + 1.5vw);
  font-weight: 700;
  padding: 0.9 em; }

p {
  font-size: 1rem;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  line-height: 2em;
  padding: 1em; }

legend {
  font-size: 2rem;
  font-weight: 800;
  padding: 1em; }

.btn-primary {
  background-color: #00d3b9;
  border: none;
  padding: 16px 32px;
  margin-bottom: 1rem; }

.btn-primary:hover {
  background-color: #03d78a; }

.form-control:focus {
  background-color: #dfffc1; }

@media only screen and (max-width: 650px) {
  #carouselExampleIndicators {
    display: block; }
  #ImgSecIndex {
    display: none; } }

.table {
  width: 90vw;
  font-weight: 700;
  color: black;
  background: linear-gradient(90deg, #dfffc1 0%, #4bffaa 48%, #34f7dd 100%); }

.FormatoLi {
  font-size: 0.9rem;
  font-weight: 700;
  list-style-type: none;
  font-family: 'Cuprum', sans-serif;
  list-style: none; }

footer {
  background-color: #00d3b9; }

.bi-youtube {
  color: black; }

.bi-instagram {
  color: black; }

.bi-facebook {
  color: black; }

* {
  padding: 0px;
  margin: 0px; }

#body404 {
  background: black; }

.st0 {
  font-family: 'FootlightMTLight'; }

.st1 {
  font-size: 83.0285px; }

.st2 {
  fill: gray; }

svg {
  width: 500px;
  height: 400px;
  text-align: center;
  fill: #16a085; }

path#XMLID_5_ {
  fill: #16a085;
  filter: url(#blurFilter4); }

path#XMLID_11_, path#XMLID_2_ {
  fill: #16a085; }

.circle {
  animation: out 2s infinite ease-out;
  fill: #16a085; }

#container {
  text-align: center; }

.message {
  color: #16a085; }

.message:after {
  content: "]"; }

.message:before {
  content: "["; }

.message:after, .message:before {
  color: #16a085;
  font-size: 20px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin: 0 50px; }

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes out {
  0% {
    r: 1;
    opacity: 0.9; }
  25% {
    r: 5;
    opacity: 0.3; }
  50% {
    r: 10;
    opacity: 0.2; }
  75% {
    r: 15;
    opacity: 0.1; }
  100% {
    r: 20;
    opacity: 0; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@media only screen and (max-width: 1024px) {
  .BackImgAni {
    animation-duration: 80s; } }

@media only screen and (max-width: 767px) {
  .BackImgAni {
    animation-duration: 60s; } }

@media only screen and (max-width: 576px) {
  .BackImgAni {
    animation-duration: 30s; } }
