
*{
    margin: 0px;
    padding: 0px;
}

.BodyBackgroundColor{
    background-color: map-get($background-color , "body" ); 
  }

.LogoImg{
    height: 90px;
}

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
}

.BodyOverflowX{
    overflow-x: hidden;
}
