
.FormatoLi{
    list-style-type: none;
    font-family: 'Cuprum', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    list-style: none;
}

// Poner Variable

footer{
    background-color: #00d3b9;
}

.bi-youtube{
    color: black;
}

.bi-instagram{
    color:black;
}

.bi-facebook{
    color: black;
}